<!-- refactor this bitch -->

<% if(step.is_image()) { %>
  <div class="step-image">

    <% if(linkable) { %>
      <a href="#/chains/<%=step.escape('chain_id')%>">
        <% if(this.uniqueID === "timeline") { %>
          <div class="drawAreaTimeline" id="drawArea<%= step.id + this.uniqueID %>"></div>
          <% } else { %>
          <div class="drawAreaPreview" id="drawArea<%= step.id + this.uniqueID %>"></div>
          <% } %>
      </a>
    <% } else { %>
      <div class="drawArea" id="drawArea<%= step.id + this.uniqueID %>"></div>
    <% }; %>

  </div>

<% } else { %>

    <%if(this.uniqueID === "preview") {%>
        <div class="step-desc-preview">
      <% } else { %>
        <div class="step-desc">
      <% } %>

      <%=step.escape("description")%>
    </div>
<% }; %>


<% if(showInfo) { %>
  <div class="step-info">
    User: <%=step.escape("username")%>

    <% if(step.is_image()) { %>
      <span class="animate-btn">
        See it drawn! <button class="animate animate-thing btn-primary">Animate</button>
      <span>
    <% } %>
  </div>
<% } %>